{% extends 'base.html.twig' %}

{% block body %}
    <form method="POST" action="{{ path('app_task_store') }}">
        {% include 'Tasks/task_form/components/_formInputs.html.twig' with { 'statuses': statuses } %}
    </form>
{% endblock %}