{% extends 'base.html.twig' %}

{% block title %}Logowanie{% endblock %}

{% block body %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 60vh;">
    <div class="w-100" style="max-width: 400px;">
        <h2 class="mb-4 text-center">Zaloguj się</h2>
        {% include('Auth/login/components/_form.html.twig') %}
    </div>
</div>
{% endblock %}